<app-header [breadcrumb]="breadcrumb"></app-header>

<div class="row justify-content-center content">
  <div class="col-12 col-md-10 col-lg-8 p-0 m-0">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Dieser Bereich muss noch definiert werden...
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row justify-content-center content p-0">
  <div class="col-12 col-md-10 col-lg-8 p-0 m-0">
    <div class="row justify-content-center content pt-3">
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 content-item link-card">
        <mat-card routerLink="/atemschutz/masken">
          <mat-icon class="material-icons-outlined">sports_motorsports</mat-icon>
          <mat-card-footer>Masken</mat-card-footer>
        </mat-card>
      </div>
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 content-item link-card">
        <mat-card routerLink="/atemschutz/geraete">
          <mat-icon class="material-icons-outlined">battery_alert</mat-icon>
          <mat-card-footer>Geräte</mat-card-footer>
        </mat-card>
      </div>
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 content-item link-card">
        <mat-card routerLink="/atemschutz/messgeraete">
          <mat-icon class="material-icons-outlined">flare</mat-icon>
          <mat-card-footer>Messgeräe</mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
