<app-header [breadcrumb]="breadcrumb"></app-header>

<div class="row justify-content-center content">
  <div class="col-12 col-md-6 p-0 m-0">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Public Check – PIN</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>PIN</mat-label>
          <input matInput [(ngModel)]="pin" inputmode="numeric" />
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="verify()" [disabled]="!pin">
          Weiter
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
