@use '@angular/material' as mat

$app-primary:  mat.get-color-from-palette(mat.$blue-palette, 900);
$app-success:  mat.get-color-from-palette(mat.$green-palette, 800);
$app-error:    mat.get-color-from-palette(mat.$red-palette, 800);

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $app-primary,
    accent: $app-success,
    warn: $app-error,
  )
))

/* Globale Themes anwenden */
@include mat.all-component-themes($theme)


$app-background: #f3f2f2
