<app-header [breadcrumb]="breadcrumb"></app-header>

<div class="row justify-content-center content">
  <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
    <mat-card routerLink="/fmd">
      <mat-icon class="material-icons-outlined">healing</mat-icon>
      <mat-card-footer>FMD</mat-card-footer>
    </mat-card>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
    <mat-card routerLink="/mitglied">
      <mat-icon class="material-icons-outlined">groups</mat-icon>
      <mat-card-footer>Mitglieder</mat-card-footer>
    </mat-card>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
    <mat-card routerLink="/modul_konfiguration">
      <mat-icon class="material-icons-outlined">tune</mat-icon>
      <mat-card-footer>Modul Konfiguration</mat-card-footer>
    </mat-card>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
    <mat-card routerLink="/benutzer">
      <mat-icon class="material-icons-outlined">account_circle</mat-icon>
      <mat-card-footer>Benutzerverwaltung</mat-card-footer>
    </mat-card>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-2 content-item link-card">
    <mat-card routerLink="/konfiguration">
      <mat-icon class="material-icons-outlined">settings</mat-icon>
      <mat-card-footer>Konfiguration</mat-card-footer>
    </mat-card>
  </div>
</div>





